*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
}

footer{
    background-color: #191e3b;
    padding: 50px 0 0px 0;
    max-width: 100%;
    overflow-y: hidden;

    .footer-top{
        display: flex;
        align-items: center;
        // justify-content: space-between;

        .footer-logo{
            font-size: 4rem;
            text-align: left ;

            @media screen and (max-width:768px) {
                text-align: center;
            }

            a{
                text-decoration: none;
                color: white;
            }
        }

        .footer-form{
            text-align: right;

            @media screen and (max-width:768px) {
                text-align: center;
            }

            .input-email{
                width: 300px;
                margin-left: auto;
                position: relative;

                @media screen and (max-width:768px) {
                    margin: 0 auto;
                }
             input[type="text"]{
                width: 300px;
                padding: 10px 20px 10px 40px;
                // text-align: center;
                border: 1px solid #949494;
                outline: none;
                color: white;
                background-color:transparent !important;

                &::placeholder {
                    text-align: center;
                }
            }

            .email-icon{
                display: inline-block;
                position: absolute;
                left: 0;
                color: rgb(99, 99, 99);
                font-size: 22px;
                padding:8px ;
            }

            }
            input[type="submit"]{
                width: 300px;
                margin-top: 10px;
                padding: 10px;
                font-size: 18px;
                font-weight: 400;
                background-color: #0095E9;
                color: white;
                border-radius: 3px;
                border: none;
                outline: none;
            }
        }


    }

    hr{
        background-color: white;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .footer-middle{

        .footer-nav{

            ul{
                li{
                    a{
                        text-decoration: none;
                        color: white;
                        display: block;
                        margin: 20px 0 !important;
                    }
                }
            }
        }

        .trending-topics{

            .title{
                margin-bottom: 30px;
                padding-left: 2rem !important;
                h4{
                    color: #F2BE39;
                    position: relative;
                }
                &::after{
                    content: "";
                    width: 80px;
                    height: 2px;
                    background-color: #F2BE39;
                    position: absolute;
                }

            }
            ul{
                li{
                    a{
                        text-decoration: none;
                        color: white;
                        display: block;
                        margin: 10px 0 !important;
                    }
                }
            }
        }

        .important-link{

            .title{
                margin-bottom: 30px;
                padding-left: 2rem !important;
                h4{
                    color: #F2BE39;
                    position: relative;
                }
                &::after{
                    content: "";
                    width: 80px;
                    height: 2px;
                    background-color: #F2BE39;
                    position: absolute;
                }

            }
            ul{
                li{
                    a{
                        text-decoration: none;
                        color: white;
                        display: block;
                        margin: 10px 0 !important;
                    }
                }
            }
        }


    }

    .footer-bottom{
        box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.29);
        max-width: 100vw !important;
        padding:10px 0;
        overflow-y: hidden !important;

        p{
            margin:0;
            color: #949494;
        }
    }


}